# ========================
# Monorepo ignores
# ========================

# ---------- Backend (.NET) ----------
Api/bin/
Api/obj/
**/bin/
**/obj/

# user secrets / config
secrets.json
appsettings.Development.json

# ---------- Frontend (React/Vite) ----------
Client/node_modules/
Client/dist/

# ---------- Logs ----------
*.log

# ---------- OS ----------
.DS_Store

# ---------- IDE ----------
.vscode/
.idea/
